.inputWrapper {
  background-color: #fec64f;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}
.Search {
  width: 80%;
  display: flex;
  justify-content: center;
}
.inputSearch {
  width: 80%;
  height: 100px;
}
.inputSearch:focus {
  outline: none;
  border-bottom: 2px solid #000007;
  box-sizing: border-box;
  caret-color: #000007;
  font-weight: bold;
}
.inputSearch {
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
  font-size: 18px;
  background: none;
  color: #000007;
  border-bottom: 2px solid transparent;
  caret-color: #000007;
  font-weight: bold;
}
